@model IEnumerable<TicTacToe.Models.GamePlayerViewModel>

@{
    ViewBag.Title = "GameHistory";
}

<h2>Game History</h2>

@if (Model.Count() < 1)
{
    <p>No data found.</p>
}
else
{


<table class="table">
    <tr>
        <th>
            Player 1 (Points)
        </th>
        <th>
            Player 2 (Points)
        </th>
        <th>
            Winner
        </th>
        <th>Date</th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Player1.Name (@item.Game.Player1Points)
            </td>
            <td>
                @item.Player2.Name (@item.Game.Player2Points)
            </td>
            <td>
                @{ 

                    var winner = item.Player1.Name;

                    if (item.Game.Player2Points > item.Game.Player1Points)
                    {
                        winner = item.Player2.Name;
                    }
                    else if (item.Game.Player1Points == item.Game.Player2Points)
                    {
                        winner = "Draw";
                    }

                }

                <span>@winner</span>
                
            </td>
            <td>@item.Game.Date</td>
        </tr>
    }

</table>
}

