@model TicTacToe.Models.PlayerPlayViewModel

@{
    ViewBag.Title = "Play";
}

<h2>Play</h2>

<input type="hidden" id="gameId" name="gameId" value="@ViewBag.GameId" />


<input type="hidden" id="player1Name" name="player1Name" value="@Model.Player1.Name" />

<input type="hidden" id="player2Name" name="player2Name" value="@Model.Player2.Name" />



<div class="container play-container py-5">

    @{ Html.RenderAction("GetBoard", "Home", new { currentRound = 1, currentPlayerName = Model.Player1.Name }); }

</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary d-none jsModalActivate" data-bs-toggle="modal" data-bs-target="#messageModal">
</button>

<!-- Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel">ROUND OVER</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
            </div>
        </div>
    </div>
</div>


@section scripts
{

    <script>

        var currentPlayer = 1;
        var symbol = "X";

        $(document).on('click', '.square', function () {

            var square = $(this);

            if (square.find('div').html().length > 0) {
                toastr.error("Cannot overwrite move, try a different move.");
                return;
            }

            square.find('div').html(symbol);

            var currentRound = $('#currentRound').val();
            var gameId = $('#gameId').val();
            var blockId = square.attr('data-id'); //squares are numbered in left-to-right fashion

            //save move
            $.post("/Home/SaveMove/" + gameId + "/" + currentRound + "/" + currentPlayer + "/" + blockId, function (data) {

                if (data.resultCode == 1) {

                    if (data.winner != "") {

                        var playerName = "@Model.Player1.Name";

                        if (data.winner == 2) {
                            playerName = "@Model.Player2.Name";
                        }

                        activateAlert(playerName + " WON!");


                        currentPlayer = 1;
                        symbol = "X";
                    }

                    if (data.draw != "") {

                        activateAlert(data.data);
                    }

                    if (data.newRound != "") {

                        if (data.newRound < 4) {

                            $.get("/Home/GetBoard/" + data.newRound + "/@Model.Player1.Name", function (data) {

                                $('.play-container').html(data);
                            });
                        }
                        else {

                            setTimeout(function () {

                                window.location.href = "/Home/GameOver/" + gameId;

                            }, 2000);
                        }
                    }
                    
                }
                else {

                    toastr.error(data.data);
                }

            });


            if (currentPlayer == 1) {
                currentPlayer = 2;
                $('#playerName').html('@Model.Player2.Name');
                symbol = "O";
            }
            else {
                currentPlayer = 1;
                $('#playerName').html('@Model.Player1.Name');
                symbol = "X";
            }

            $('#playerNumber').html(currentPlayer);




        });

        //show message modal
        function activateAlert(message) {

            $('.modal-body').html(message);
            $('.jsModalActivate').click();
        }

    </script>
}
